.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  // margin-top: 120px;
  // margin-bottom: 50px;

  background-color: #2c3739;
height: 100px;
margin-top: -20px;
width: 100%;

  h2 {
    color: #fff;
  }
}
